html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    width:100%; 
    font-size: 1.4rem;
    min-height: 100%!important;
}

$color-main: #80bd31ee;

.bg-color{
    background-color: $color-main!important;
}

.text-color-main{
    color: $color-main!important;
}

.text-shadow{
    text-shadow:2px 1px 3px #000;
}
.navbar{
    z-index: 5;
    opacity:1;
    .navbar-toggler:hover{
        box-shadow: 0 0 0 0 #000!important;
        outline:0!important;
    }
}

.title{
    padding-top: 1rem!important;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    & img{
        width: 3rem;
        height:6.5rem;
    }
}

//carrousel de photos//
.card-img img{
    width: 100%;
    height: 18rem;
    border:transparent;
    object-fit: cover;
}

.footer{
    flex-direction: column;
    font-size: 0.9rem;
    & .director {
        line-height: 1rem;;
    }
    & a:hover{
        color:rgb(255, 211, 211)!important;
    }
    .size{
        font-size:0.8rem;;
    }
}

//page HOMEMADE.HTML 
.homemade{
    max-width: 95%;
}

//images dans le texte
p img{
    max-width: 45%;
    box-shadow: 1px 1px 5px #000;
    &.left{
        float: left;
    }
    &.right{
        float: right;
    }
}

//page CONTACT.HTML
.info{
    flex-direction: column;
    img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

@media all and (max-width: 350px){
    .navbar {
        .navbar-brand{
            font-size: 1rem!important;
        }
        .navbar-toggler{
            padding-right: 0!important;
            font-size: 1rem;
        }
    }
}

@media all and (max-width: 495px){
    .navbar {
        .navbar-brand{
            font-size: 1.15rem;
            margin-right: 0!important;
        }
        .navbar-toggler{
            padding: 0;
            padding-right:0.5rem!important;
        }
    }
    .title{
      align-items: flex-end!important;
      column-gap:0.8rem;
      margin-left:15%!important;
        h2{
            padding-top: 3rem!important;
        }
        & img{
            margin-bottom: 0.8rem;
        }

    }
}


@media all and (min-width: 850px){
    .homemade{
        max-width: 80%;
    }
}