//animation //
@keyframes scrolling {
    0% {
        transform: translate3d(0,0,0);      /* position initiale à droite */
    }
    100% {
        transform: translate3d(-100%,0,0);  /* position finale à gauche */
    }
}
// css

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    width:100%; 
    font-size: 1.4rem;
    min-height: 100%!important;
}

$color-main: #80bd31ee;

.bg-color{
    background-color: $color-main!important;
}

.text-color-main{
    color: $color-main!important;
}

.text-shadow{
    text-shadow:2px 1px 3px #000;
}

.navbar{
    z-index: 5;
    opacity:1;
    .navbar-toggler:hover,
    .navbar-toggler:focus{
        box-shadow: 0 0 0 0 #000!important;
        outline:0!important;
    }
    .nav-link{
        transition: all .3s ease-out;
        &:hover{
            color: $color-main!important;
            text-shadow: 0 0 0 #000;
            background-color: #fff;
            border-radius: 10px;
        }
    }
}

.title{
    padding-top: 1rem!important;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    & img{
        width: 3rem;
        height:6.5rem;
    }
}

// menu defilant
.scrolling_menu{
    max-width: 80%;
    margin: 1.5em auto 2em;
    border: 1px solid #000;
    overflow: hidden;
    background-color: rgba(128, 189, 49, 0.333);
    font-size: 1.3rem;
    box-shadow: 0 .1em .25em  #000;
    &> :first-child {
        display: inline-block;
        padding-right: 2em;
        padding-left: 100%;
        white-space: nowrap;
        animation: scrolling 45s infinite linear;
    }
    .scrolling_title{
        font-weight: 700;
    }
    .bullets{
        padding-left: 7px;
        padding-right: 7px;
    }
}


//carrousel de photos//
.card-img img{
    width: 100%;
    height: 16.7rem;
    border:transparent;
    object-fit: cover;
}

.footer{
    flex-direction: column;
    font-size: 0.9rem;
    & .director {
        line-height: 1rem;;
    }
    & a:hover{
        color:rgb(197, 2, 214)!important;
    }
    .size{
        font-size:0.8rem;;
    }
}

//page HOMEMADE.HTML 
.homemade{
    max-width: 95%;
}

//page CONTACT.HTML
.info{
    flex-direction: column;
    img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

@media all and (max-width: 350px){
    .navbar {
        .navbar-brand{
            font-size: 1rem!important;
        }
        .navbar-toggler{
            padding-right: 0!important;
            font-size: 1rem;
        }
    }
    .exception {
        margin: 01rem!important;
    }
}

@media all and (max-width: 495px){
    .navbar {
        .navbar-brand{
            font-size: 1.15rem;
            margin-right: 0!important;
        }
        .navbar-toggler{
            padding: 0;
            padding-right:0.5rem!important;
        }
    }
    .title{
      align-items: flex-end!important;
      column-gap:0.8rem;
      margin-left:15%!important;
        h2{
            padding-top: 3rem!important;
        }
        & img{
            margin-bottom: 0.8rem;
        }
    }
}

@media all and (min-width: 750px){
    .homemade{
        max-width: 80%;
    }
    .info{
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 4rem;
        img{
            width:20rem;
            height: auto;
        }
    }
    .footer{
        flex-direction: row;
        line-height: 1;
        & .copyright, 
        & .law{
            font-size: 0.7rem;
        }
        & .size{
            padding-top: 0.8rem;
        }
    }
}

@media all and (max-width: 992px){
    .nav-link{
        padding-left: 1rem!important;
    }
}

@media all and (min-width: 1000px){
    .info img{
        width: 30rem;
    }
}